h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --html-color: #ffffff;
  --subscribe-text-color: #434455;
  --web-logo-color: #4d5ae5;
  --btn-color: #2e2f42;
  --btn-push-color: #404bbf;
  --background-color: #f4f4fd;
}

/* var(--html-color);
var(--subscribe-text-color);
var(--web-logo-color);
var(--btn-color);
var(--btn-push-color);
var(--background-color);
*/

body {
  font-family: "Roboto", sans-serif;
  color: var(--subscribe-text-color);
  background-color: var(--html-color);
}

.list {
  list-style: none;
}
/*---------------------HEADER------------------------*/

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-logo-color);
  margin-right: 76px;
}

.link {
  text-decoration: none;
}

.header-studio-logo {
  color: var(--btn-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-link {
  color: var(--btn-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: var(--btn-push-color);
}

.header-link:focus {
  color: var(--btn-push-color);
}

.header-link-active {
  position: relative;
  color: #404bbf;
}

.header-link-active::after {
  position: absolute;
  content: "";
  left: 0;
  top: 44px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
}

.address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subscribe-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover {
  color: var(--btn-push-color);
}

.address-link:focus {
  color: var(--btn-push-color);
}

/*---------------------TITLE------------------------*/

.title {
  background-color: var(--btn-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.title-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--html-color);
  width: 496px;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
}

.title-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--html-color);
  background: var(--web-logo-color);
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title-btn:hover,
:focus {
  background-color: var(--btn-push-color);
}

/*---------------------PRINCIPLES------------------------*/
/*---------------------PRINCIPLES------------------------*/

.principles {
  padding-top: 120px;
  padding-bottom: 120px;
}

.principles-list {
  display: flex;
  gap: 24px;
}

.principles-item {
  width: calc((100% - 72px) / 4);
}

.principles-item-icon {
  display: flex;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.principles-icon {
  display: flex;
  justify-content: center;
}

.principles-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--btn-color);
  margin-bottom: 8px;
}

.principles-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subscribe-text-color);
}

/*---------------------PRODUCTION------------------------*/

.production {
  padding-bottom: 120px;
}

.production-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--btn-color);
}

.production-list {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}

.production-item {
}

/*---------------------TEAM------------------------*/

.team {
  background-color: var(--background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--btn-color);
}

.team-list {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}

.team-item {
  background-color: var(--html-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-container {
  padding: 32px 0;
}

.team-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--btn-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subscribe-text-color);
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
  background-color: #404bbf;
}

.team-soc-link:focus {
  background-color: #404bbf;
}

.team-soc-icon {
}

/*---------------------CUSTOMERS------------------------*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-item-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-item-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}

/*---------------------FOOTER------------------------*/

.footer {
  background-color: var(--btn-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-logo-color);
  margin-bottom: 16px;
}

.footer-studio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
}

.footer-text {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
  max-width: 264px;
  margin: 0;
}

.footer-item-container {
  display: flex;
}

.footer-logo-wrap {
}

.social-media {
  margin-left: 120px;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover {
  background-color: #31d0aa;
}

.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-icon {
  width: 24px;
  height: 24px;
}

/*---------------------PORTFOLIO------------------------*/

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--web-logo-color);
  background: var(--background-color);
  cursor: pointer;
  transition-property: color, background, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
:focus {
  color: var(--html-color);
  background: var(--btn-push-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--btn-push-color);
}

.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  outline: none;
}
.filter-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-item {
}

.project-item-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-link:hover {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--btn-color);
  margin-bottom: 8px;
}

.project-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subscribe-text-color);
}

.project-full-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: auto;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.project-text-border {
}

.project-item-overlay {
  position: relative;
  overflow: hidden;
}

.item-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item-overlay:hover .item-cover-text,
.project-item-overlay:focus .item-cover-text {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms linear;
  padding: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #e7e9fc;
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
:focus {
  background: #404bbf;
}

.modal-close:hover,
:focus > .modal-close-btn:hover,
:focus {
  fill: #ffffff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 48px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  padding-left: 38px;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.input-wrap {
  position: relative;
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-accept:hover,
:focus {
  background: #404bbf;
  border: 1px solid #404bbf;
  border-radius: 2px;
}

.modal-send-btn {
  display: block;
}

.modal-accept-text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 24px;
  align-items: center;
}

.modal-accept-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.modal-comment-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  margin-bottom: 16px;
}

.modal-comment-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  padding-top: 8px;
}

.modal-send-btn {
  margin: 0 auto;
  width: 169px;
  height: 56px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--html-color);
  background: var(--web-logo-color);
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
:focus {
  background-color: var(--btn-push-color);
}
