@media screen and (min-width: 428px) {
.container {max-width: 428px;}
}

@media screen and (min-width: 768px) {
    .container {max-width: 768px;
    padding-left: 0;
  padding-right: 0;}
    
   
    .title {
      background-color: var(--btn-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/title-bg-image-tab.jpg);}

        .subscribe-btn {margin-left: 24px;}

    .principles-item {
        width: calc((100% - 24px) / 2);
    }

    @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .title {background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/title-bg-image-tab-2x.jpeg);}
}

.title-header {font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
padding-left: 136px;
padding-right: 136px;
margin-bottom: 36px;}


    .principles-item-header 
{
    text-align: left;
}
.production {display: none;}

.team-list {gap: 24px;}

.customers-list {gap: 72px 24px;}

.customers-item {width: calc((100% - 48px) / 3);}

.customers-container {width: 552px;}

.footer-item-container {display: flex;
flex-wrap: wrap;
text-align: inherit;}

.subscribe-mail {
    margin-left: inherit;;
  }

  .footer-container {
    width: 552px;
  }

.footer-logo-wrap {margin-right: 24px;
margin-bottom: 0;}

.footer-input {margin-bottom: 0px;}

}






@media screen and (min-width: 1158px) {
    .container {max-width: 1158px;
    padding-left: 16px;
  padding-right: 16px;}
    

    .title {
      background-color: var(--btn-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/title-bg-image.jpg);
        padding-top: 188px;
        padding-bottom: 188px;}

        @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .title {background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  ),
  url(../images/title-bg-image-2x.jpeg);}
}

.title-header {font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--html-color);
  width: 496px;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
padding-left: 0;
padding-right: 0;}

        

    .principles {padding-top: 120px;

        padding-bottom: 120px;}

    .principles-list {gap: 24px;}

    .principles-item {width: calc((100% - 72px) / 4);}

    .principles-item-icon {
            display: flex;
            background-color: #f4f4fd;}

    .principles-item-header {font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: var(--btn-color);
                margin-bottom: 8px;}

    .principles-item-text {font-weight: 400;
                    font-size: 16px;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: var(--subscribe-text-color); }

    .production {
                      display: flex;
                      padding-bottom: 120px;
                      }
                      
    .production-header {
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 1.11;
                        text-align: center;
                        letter-spacing: 0.02em;
                        text-transform: capitalize;
                        color: var(--btn-color);
                      }
                      
    .production-list {
                        display: flex;
                        margin-top: 72px;
                        gap: 24px;
                      }
                      
    .production-item {
                        width: 100%;
                      }
    .team-list {flex-wrap: nowrap;}

    .team-item {background-color: var(--html-color);
                        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                          0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);}
                      
    .team {padding-top: 120px;
                        padding-bottom: 120px;}

    .customers {padding-top: 120px;
                padding-bottom: 120px;}

    .customers-list {gap: 24px;}

    .customers-item {width: calc((100% - 120px) / 6);}

    .customers-container {width: 100%}

    .footer {padding-top: 100px;
      padding-bottom: 100px;}

      .footer-item-container {display: flex;}

      .social-media {margin-left: 120px;
      margin-bottom: 0;}

      .social-media-list {display: flex;}

      .subscribe-mail {
        margin-left: 80px;;
      }

      .subscribe-btn {display: flex;
        margin-left: 24px;}

        .footer-container {
          width: 100%;

      .footer-subscribe {display: flex;}

      .footer-logo-wrap {margin-right: 0;}


}